<html>

<head>
  <title>Welcome to Tradeoptima</title>
</head>

<body>
  <p>Hi {{firstName}},</p>
  <p>Welcome to Tradeoptima. Below is your login credentials:</p>
  <p>Email: {{loginEmail}}</p>
  <p>Password: {{loginPassword}}</p>
  <p>We request you to please reset your password by clicking on the link below.</p>
  <span>
    <a href="{{resetPassword}}">Reset password</a>
  </span>
  <p>Thanks</p>
  <p>Tradeoptima support</p>
</body>

</html>