<html>

<head>
  <title>Verify your email</title>
</head>

<body>
  <p>Hi {{firstName}},</p>
  <span>Please confirm your email address by clicking on the link.</span>
  <span>
    <a href="{{verifyEmailLink}}">Verify email here.</a>
  </span>
  <p>Thanks</p>
  <p>Tradeoptima support</p>
</body>

</html>